/*
0 600px: Phone
600 900px: Tablet portrait
900 1200px: Tablet Landscape
[1200 - 1080] Normal style
+1080 + : Big Desktop
$breakpoint argument choices:
-phone
-Tab-port
-Tab-land
-big desktop
ORDER: Base + typography > general layout + grid > page layout > component
1em = 16px
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: 'Poppins';
}

:root {
  --color-green: #2DA056;
  --color-green-light: #32B260;
  --color-green-light-2: #46B96F;
  --color-green-light-3: #F8FDF9;
  --color-blue: #D2FFFC;
  --color-orange:#FFE9E2;
  --color-white: #FFFFFF;
  --color-white-light: #F5F5F5;
  --color-black: #000000;
  --color-grey-light: #616161;
  --color-grey-dark: #AAAAAA;
  --color-purple: ##F4F9FF;
}

::selection {
  background-color: var(--color-green);
  color: var(--color-white);
}

.nav__button {
  font-family: inherit;
  padding: 1rem 2rem;
  border: none;
  border-radius: 50px 0 50px 50px;
  background-color: var(--color-green);
  color: var(--color-white);
  font-weight: 600;
  background-image: linear-gradient(135deg, transparent 0%, transparent 50%, #46B96F 50%);
  background-size: 220%;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav__button:hover {
  background-position: 100%;
  transform: translateX(3px);
}

.nav__button-link {
  color: var(--color-white);
  text-decoration: none;
}

.hero__button {
  font-family: inherit;
  padding: 1.5rem 4rem;
  border: none;
  border-radius: .2rem;
  margin-top: 4rem;
  background-color: var(--color-green);
  color: var(--color-white);
  font-weight: 600;
  background-image: linear-gradient(135deg, transparent 0%, transparent 50%, #46B96F 50%);
  background-size: 250%;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0 0 25px rgba(45, 160, 86, 0.5);
}

.hero__button:hover {
  background-position: 100%;
  transform: translateX(3px);
}

.slider {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin-top: 22rem;
}

.slider > * {
  background-color: var(--color-white);
  box-shadow: 2px 20px 43px rgba(0, 0, 0, 0.25);
  border-radius: 1.1rem;
  height: 141px;
  width: 158px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  background: linear-gradient(45deg, rgba(210, 255, 252, 0.9), #ffe9e2);
}

nav .nav__bar {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo__box {
  width: 150px;
}

nav .logo, nav span, nav .main {
  font-family: inherit;
  font-weight: 900;
  color: #ffffff;
  font-size: 24px;
}

nav .nav__menu .nav__list {
  display: flex;
}

nav .nav__menu {
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

nav li,
nav .nav__links {
  margin: 0 10px;
  list-style: none;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-bottom: 2px solid transparent;
  font-size: 1.6rem;
}

nav li a,
nav .nav__links {
  text-decoration: none;
  color: var(--color-green);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-bottom: 2px solid transparent;
}

nav li a,
nav .nav__links:hover {
  text-decoration: none;
  border-bottom: 2px solid orangered;
}

@media (max-width: 900px) {
  nav .nav__menu {
    position: fixed;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: red; */
    width: 100%;
    height: 100%;
  }
  nav .nav__menu {
    background-color: var(--color-green);
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  nav li a,
  nav .nav__links {
    font-family: inherit;
    font-size: 3rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-white);
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-bottom: 2px solid transparent;
  }
  nav .nav__menu {
    display: none;
    z-index: 2;
  }
  nav .nav__menu.active {
    display: block;
  }
  nav .burger {
    height: 50px;
    width: 50px;
    position: relative;
    z-index: 99999;
  }
  nav .burger {
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  nav .burger .burger__toggle:before {
    position: absolute;
    content: '';
    top: 7px;
    margin: 0 auto;
    width: 50%;
    height: 3px;
    background-color: #ffffff;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  nav .burger .burger__toggle:after {
    content: '';
    position: absolute;
    bottom: 18px;
    margin: 0 auto;
    width: 50%;
    height: 3px;
    background-color: #ffffff;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  nav .burger.active .burger__toggle:before {
    content: '';
    position: absolute;
    top: 18px;
    margin: 0 auto;
    width: 50%;
    height: 3px;
    transform: rotate(135deg);
    background-color: #ffffff;
  }
  nav .burger.active .burger__toggle:after {
    content: '';
    position: absolute;
    bottom: 28px;
    margin: 0 auto;
    width: 50%;
    height: 3px;
    transform: rotate(-135deg);
    background-color: #ffffff;
  }
  nav .burger span {
    position: absolute;
    top: 18px;
    margin: 0 auto;
    width: 50%;
    height: 3px;
    background-color: #ffffff;
  }
  nav .burger.active span {
    opacity: 0;
  }
  nav ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  nav li {
    font-size: 16px;
    padding: 1rem 0;
    /* display: block; */
  }
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/img/bg.jpg);
  background-position: top;
  background-size: cover;
}

.hero {
  flex-wrap: wrap;
  margin-top: 8rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero__content {
  flex-basis: 30%;
  padding: 4rem;
  line-height: 1.2;
}

.hero__tittle {
  font-size: 3rem;
  font-weight: 700;
}

.hero__description {
  font-size: 1.6rem;
  margin-top: 2rem;
}

.hero__image {
  flex-basis: 1;
}

@media only screen and (max-width: 56.25em) {
  .hero__image img {
    width: 50%;
  }
}
/*# sourceMappingURL=main.css.map */